<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yinglan.sct">

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <permission
        android:name="com.easemob.helpdeskdemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.easemob.helpdeskdemo.permission.C2D_MESSAGE" />

    <!-- 其中的com.easemob.helpdeskdemo需要换为自己的包名 -->
    <permission
        android:name="${applicationId}.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signatureOrSystem" />
    <!-- 其中的com.easemob.helpdeskdemo需要换为自己的包名 -->
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

    <!--用户端-->
    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/android_template"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:icon">

        <!--启动页-->
        <activity
            android:name=".startpage.StartPageActivity"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--引导页-->
        <activity
            android:name=".startpage.GuideViewActivity"
            android:screenOrientation="portrait" />

        <!--登录-->
        <activity
            android:name=".loginregister.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--选择国家或地区-->
        <activity
            android:name=".loginregister.SelectCountryCodeActivity"
            android:screenOrientation="portrait" />

        <!--注册-->
        <activity
            android:name=".loginregister.register.RegisterActivity"
            android:screenOrientation="portrait" />

        <!--注册 忘记密码-->
        <activity
            android:name=".loginregister.forgotpassword.RetrievePasswordActivity"
            android:screenOrientation="portrait" />

        <!--注册 注册协议-->
        <activity
            android:name=".loginregister.register.RegistrationAgreementActivity"
            android:screenOrientation="portrait" />


        <!--注册 綁定账号-->
        <activity
            android:name=".loginregister.bindingaccount.BindingPhoneActivity"
            android:screenOrientation="portrait" />

        <!--主界面-->
        <activity
            android:name=".main.MainActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--主界面的后台-->
        <service android:name=".main.service.MainService" />

        <!--首页   接送机分类-->
        <activity
            android:name=".homepage.airporttransportation.AirportTransportationClassificationActivity"
            android:screenOrientation="portrait" />

        <!--首页   按天包车分类-->
        <activity
            android:name=".homepage.bythedaycharter.ByTheDayCharterClassificationActivity"
            android:screenOrientation="portrait" />

        <!--首页   精品线路分类-->
        <activity
            android:name=".homepage.boutiqueline.BoutiqueLineActivity"
            android:screenOrientation="portrait" />


        <!--首页   精品线路分类  选择城市-->
        <activity
            android:name=".homepage.boutiqueline.selectcity.SelectCityActivity"
            android:screenOrientation="portrait" />

        <!--首页   精品线路分类  线路详情-->
        <activity
            android:name=".homepage.boutiqueline.LineDetailsActivity"
            android:screenOrientation="portrait" />

        <!--首页   精品线路分类  支付订单-->
        <activity
            android:name=".homepage.boutiqueline.LineDetailsPayOrderActivity"
            android:screenOrientation="portrait" />

        <!--首页   产品搜索-->
        <activity
            android:name=".homepage.airporttransportation.search.ProductSearchActivity"
            android:screenOrientation="portrait" />

        <!--首页   产品搜索  搜索结果-->
        <activity
            android:name=".homepage.airporttransportation.search.ProductSearchListActivity"
            android:screenOrientation="portrait" />

        <!--首页   选择产品-->
        <activity
            android:name=".homepage.bythedaycharter.SelectProductActivity"
            android:screenOrientation="portrait" />

        <!--首页   价格信息-->
        <activity
            android:name=".homepage.bythedaycharter.PriceInformationActivity"
            android:screenOrientation="portrait" />

        <!--首页   按天包车-->
        <activity
            android:name=".homepage.bythedaycharter.ByTheDayCharterActivity"
            android:screenOrientation="portrait" />

        <!--首页   按天包车支付订单-->
        <activity
            android:name=".homepage.bythedaycharter.ByTheDayCharterPayOrderActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 通过机场的编号来获取产品信息-->
        <activity
            android:name=".homepage.airporttransportation.SelectProductAirportTransportationActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 价格信息-->
        <activity
            android:name=".homepage.airporttransportation.PriceInformationActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 评论-->
        <activity
            android:name=".homepage.airporttransportation.comments.CharterCommentsActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 订单信息-->
        <activity
            android:name=".homepage.airporttransportation.airportpickup.AirportPickupActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 支付订单-->
        <activity
            android:name=".homepage.airporttransportation.airportpickup.AirportPickupPayOrderActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 支付订单-->
        <activity
            android:name=".homepage.airporttransportation.paymentorder.PaymentTravelOrderActivity"
            android:screenOrientation="portrait" />

        <!--首页   接机产品 - 支付完成/支付失败-->
        <activity
            android:name=".homepage.airporttransportation.paymentorder.payresult.PayTravelCompleteActivity"
            android:screenOrientation="portrait" />

        <!--首页   - 送机信息-->
        <activity
            android:name=".homepage.airporttransportation.airportdropoff.AirportDropOffActivity"
            android:screenOrientation="portrait" />


        <!--首页   送机 - 支付订单-->
        <activity
            android:name=".homepage.airporttransportation.airportdropoff.AirportDropOffPayOrderActivity"
            android:screenOrientation="portrait" />

        <!--首页   按天包车 - 选择日期-->
        <activity
            android:name=".homepage.bythedaycharter.SelectDateActivity"
            android:screenOrientation="portrait" />


        <!--首页   轮播图-->
        <activity
            android:name=".homepage.BannerDetailsActivity"
            android:screenOrientation="portrait" />

        <!--首页   私人定制-->
        <activity
            android:name=".homepage.privatecustom.PrivateCustomActivity"
            android:screenOrientation="portrait" />


        <!--首页   私人定制   城市选择-->
        <activity
            android:name=".homepage.privatecustom.cityselect.CitySelectActivity"
            android:screenOrientation="portrait" />

        <!--首页   私人定制   城市搜索-->
        <activity
            android:name=".homepage.privatecustom.cityselect.CitySearchActivity"
            android:screenOrientation="portrait" />

        <!--首页   私人定制   城市搜索   搜索结果-->
        <activity
            android:name=".homepage.privatecustom.cityselect.CitySearchListActivity"
            android:screenOrientation="portrait" />

        <!--社区   动态详情-->
        <activity
            android:name=".community.dynamic.DynamicDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--社区   动态详情-->
        <activity
            android:name=".community.videolist.VideoListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--社区   动态详情-->
        <activity
            android:name=".community.dynamic.DynamicVideoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--社区   单条动态评论详情-->
        <activity
            android:name=".community.dynamic.dynamiccomments.CommentDetailsActivity"
            android:screenOrientation="portrait" />

        <!--社区   动态评论-->
        <activity
            android:name=".community.dynamic.dynamiccomments.DynamicCommentsActivity"
            android:screenOrientation="portrait" />

        <!--社区   个人发布展示页面-->
        <activity
            android:name=".community.DisplayPageActivity"
            android:screenOrientation="portrait" />

        <!--社区   社区搜索-->
        <activity
            android:name=".community.search.CommunitySearchActivity"
            android:screenOrientation="portrait" />

        <!--社区   社区搜索   找人-->
        <activity
            android:name=".community.search.SearchPeopleActivity"
            android:screenOrientation="portrait" />

        <!--社区   社区搜索   找文章-->
        <activity
            android:name=".community.search.SearchArticleActivity"
            android:screenOrientation="portrait" />

        <!--消息  系统消息列表-->
        <activity
            android:name=".message.systemmessage.SystemMessageListActivity"
            android:screenOrientation="portrait" />

        <!--消息  系统消息列表  系统消息详情-->
        <activity
            android:name=".message.systemmessage.SystemMessageDetailsActivity"
            android:screenOrientation="portrait" />

        <!--活动   往期精彩-->
        <activity
            android:name=".activity.PastWonderfulActivity"
            android:screenOrientation="portrait" />

        <!--活动   活动详情-->
        <activity
            android:name=".activity.ActivityDetailActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的收藏-->
        <activity
            android:name=".mine.mycollection.MyCollectionActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单-->
        <activity
            android:name=".mine.myorder.MyOrderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  送机机订单详情-->
        <activity
            android:name=".mine.myorder.charterorder.orderdetails.AirportDropOffOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  接机订单详情-->
        <activity
            android:name=".mine.myorder.charterorder.orderdetails.AirportPickupOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  包车订单详情-->
        <activity
            android:name=".mine.myorder.charterorder.orderdetails.CharterOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  私人定制订单详情-->
        <activity
            android:name=".mine.myorder.charterorder.orderdetails.PrivateCustomOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  精品线路订单详情-->
        <activity
            android:name=".mine.myorder.charterorder.orderdetails.BoutiqueLineOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的订单  发表评价-->
        <activity
            android:name=".mine.myorder.charterorder.orderevaluation.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <!--我的   我的发布-->
        <activity
            android:name=".mine.myrelease.MyReleaseActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的发布 发布动态-->
        <activity
            android:name=".mine.myrelease.mydynamic.ReleaseDynamicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />


        <!--我的   我的粉丝-->
        <activity
            android:name=".mine.myfans.MyFansActivity"
            android:screenOrientation="portrait" />


        <!--我的   我的关注-->
        <activity
            android:name=".mine.myfocus.MyFocusActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包-->
        <activity
            android:name=".mine.mywallet.MyWalletActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  账户明细-->
        <activity
            android:name=".mine.mywallet.accountdetails.AccountDetailsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  优惠券-->
        <activity
            android:name=".mine.mywallet.coupons.CouponsActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  充值-->
        <activity
            android:name=".mine.mywallet.recharge.RechargeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--我的   我的钱包  充值  充值成功-->
        <activity
            android:name=".mine.mywallet.recharge.rechargeresult.RechargeCompleteActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  提现-->
        <activity
            android:name=".mine.mywallet.withdrawal.WithdrawalActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  提现成功-->
        <activity
            android:name=".mine.mywallet.withdrawal.withdrawalresult.WithdrawalCompleteActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  我的银行卡-->
        <activity
            android:name=".mine.mywallet.mybankcard.MyBankCardActivity"
            android:screenOrientation="portrait" />

        <!--我的   我的钱包  我的银行卡  添加银行卡-->
        <activity
            android:name=".mine.mywallet.mybankcard.AddBankCardActivity"
            android:screenOrientation="portrait" />

        <!--我的   个人资料-->
        <activity
            android:name=".mine.personaldata.PersonalDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--我的   个人资料  修改昵称-->
        <activity
            android:name=".mine.personaldata.setnickname.SetNickNameActivity"
            android:screenOrientation="portrait" />

        <!--我的   个人资料  设置性别-->
        <activity
            android:name=".mine.personaldata.setsex.SetSexActivity"
            android:screenOrientation="portrait" />

        <!--我的   个人资料  修改个性签名-->
        <activity
            android:name=".mine.personaldata.setsignature.SetSignatureActivity"
            android:screenOrientation="portrait" />

        <!--我的   分享有礼-->
        <activity
            android:name=".mine.sharepolite.SharePoliteActivity"
            android:screenOrientation="portrait" />

        <!--我的   设置-->
        <activity
            android:name=".mine.setup.SetUpActivity"
            android:screenOrientation="portrait" />

        <!--我的   设置  帮助中心-->
        <activity
            android:name=".mine.setup.HelpCenterActivity"
            android:screenOrientation="portrait" />

        <!--我的   设置  意见反馈-->
        <activity
            android:name=".mine.setup.feedback.FeedbackActivity"
            android:screenOrientation="portrait" />


        <!-- Bugly升级SDK配置开始  -->
        <!-- Bugly升级SDK配置开始  -->
        <!-- Bugly升级SDK配置开始  -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!-- Bugly升级SDK配置开始  -->
        <!-- Bugly升级SDK配置开始  -->
        <!-- Bugly升级SDK配置开始  -->


        <!--融云start-->
        <!--融云start-->
        <!--融云start-->
        <!--<activity-->
        <!--android:name=".common.view.activity.MainActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="stateUnspecified|adjustPan">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="com.sillykid.app"-->
        <!--android:pathPrefix="/push_message"-->
        <!--android:scheme="rong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--会话界面-->
        <!--融云即时通讯-->
        <!--融云即时通讯-->
        <!--融云即时通讯-->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="${RONGYUN_APPKEY}" />

        <!--融云聊天会话界面-->
        <activity
            android:name=".message.interactivemessage.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/applicationId"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".message.interactivemessage.imuitl.RongIMPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>
        <!--聚合会话列表-->
        <!--融云即时通讯-->
        <!--融云即时通讯-->
        <!--<activity-->
        <!--android:name=".message.interactivemessage.rongcloud.SubConversationListActivtiy"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:windowSoftInputMode="stateHidden|adjustResize">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->

        <!--<data-->
        <!--android:host="@string/applicationId"-->
        <!--android:pathPrefix="/subconversationlist"-->
        <!--android:scheme="rong" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--融云end-->
        <!--融云end-->
        <!--融云end-->


        <!--支付宝支付-->
        <!--支付宝支付-->
        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!--支付宝支付-->
        <!--支付宝支付-->
        <!--支付宝支付-->


        <!-- 微信支付 -->
        <!-- 微信支付 -->
        <!-- 微信支付 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <!-- 微信支付 -->
        <!-- 微信支付 -->
        <!-- 微信支付 -->


        <!--      友盟分享      -->
        <!--      友盟分享      -->
        <!--     友盟分享      -->
        <!--      微信 分享     -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq完整版 分享 ：-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106980891" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪完整版 分享 ：-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:exported="false"-->
        <!--android:windowSoftInputMode="adjustResize" />-->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--      友盟分享      -->
        <!--      友盟分享      -->
        <!--     友盟分享      -->

        <!--      极光推送      -->
        <!--      极光推送      -->
        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".message.systemmessage.jpushmessagereceiver.JPushMessageReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!--      极光推送      -->
        <!--      极光推送      -->

        <!--友盟-->
        <!--友盟-->
        <!--添加友盟appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <!--友盟-->
        <!--友盟-->

        <!--百度地图-->
        <!--百度地图-->
        <!--<meta-data-->
        <!--android:name="com.baidu.lbsapi.API_KEY"-->
        <!--android:value="${BAIDU_APPKEY}" />-->
        <!--<service-->
        <!--android:name="com.baidu.location.f"-->
        <!--android:enabled="true"-->
        <!--android:process=":remote" />-->
        <!--百度地图-->
        <!--百度地图-->

        <!-- 配置高德地图 -->
        <!-- 配置高德地图 -->
        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="ea2574e80fe9637c27d95a3c6f8da33b" />-->
        <!-- 配置高德地图 -->
        <!-- 配置高德地图 -->


        <!--Anrroid 7.0SD卡路径-->
        <!--Anrroid 7.0SD卡路径-->
        <!--SD卡路径-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource" />
        </provider>
        <!--Anrroid 7.0SD卡路径-->
        <!--Anrroid 7.0SD卡路径-->


        <!-- 配置glide缓存 -->
        <!-- 配置glide缓存 -->
        <!--<meta-data-->
        <!--android:name="com.common.cklibrary.common.MyGlideModule"-->
        <!--android:value="AppGlideModule" />-->
        <!-- 配置glide缓存 -->
        <!-- 配置glide缓存 -->

    </application>

</manifest>